# Node
node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# C++ / Build
build/
output/
*.exe
*.obj
x64/
Debug/
Release/
*.pdb
*.ilk

# Editor
.vscode/
.idea/
*.swp
*.swo

# Project Specific
python-core/vault/*.db
python-core/vault/*.db-journal
